@import "../../../assets/styles/index";

.heading {
  font-weight: bold;
  font-size: 22px;
}

.headingWrapper {
  text-align: left;
  font-weight: bold;
  font-size: 10px;
  border-bottom: 1px solid;
  padding-left: 10px;
  padding-bottom: 2px;
}

.headerWrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  > div {
    float: left;
    font-size: 12px;
    line-height: 1.5;
  }
}

.personalInfo {
  width: 20%;
}

.name {
  width: 58%;
  text-align: center;
  font-size: 16px !important;
  font-weight: bold;
  line-height: 1px;
  letter-spacing: 0.3em;
}

.contactInfo {
  width: 22%;
}

.nameLeft {
  text-transform: uppercase;
}

.ml10 {
  margin-left: 10px;
}
