@import "../../../assets/styles/index";

.universityDetails {
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  width: 100%;

  .city {
    width: 30%;
    float: left;
    text-align: left;
  }

  .duration {
    width: 30%;
    float: left;
    text-align: right;
  }

  .school {
    width: 40%;
    float: left;
    text-align: center;
    text-transform: uppercase;
  }
}

.otherInfoList {
  font-size: 12px;
  padding-left: 14px;
  margin: 0 0 10px;
}
