// ---------------- COLORS ------------------
$body-bg: #f9fafc;
$nav-text: #9094a5;
$secondary-text: #8A96AF;
$links: #0563c1;

// ---------------- FONTS ------------------
$PoppinsRegular: 'Open Sans', sans-serif;
